@import "animation";

$green: #84a956;
$text-grey: #666463;


body {
  background: #2d2a27;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  flex-wrap: wrap;
}


.modal {
    background-color: #FFF;
    border-radius: 6px;
    box-shadow: 0 3px 6.3px 0.7px rgba(0,0,0,.4);
    left: 50%;
    min-width: 336px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    padding-bottom: 20px;
    overflow: hidden;

    .header {
      background-color: $green;
      height: 140px;
      position: absolute;
      width: 100%;
      top: -20px;
      border-radius: 6px 6px 0 0;
      background-image: url("../img/green-backdrop.gif");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .star {
      width: 35px;
      height: 35px;
      
      position: absolute;
      background-image: url("../img/star.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .star-one {
      left: 36px;
      top: 18px;
    }

    .star-two {
      top: 18px;
      right: 36px;
    }

    .title {
      text-align: center;
      color: white;
      position: relative;
      padding-top: 20px;

      .result {
        font-size: 32px;
        font-family: 'Montserrat', sans-serif;
        text-shadow: 0px 1px 0px rgba(0,0,0,.3);
      }

      .result-type {
        margin-top: 4px;
      }
    }

    .players {
      display: flex;
      justify-content: center;
      position: relative;
      margin-top: 15px;

      .score-card {
        .icon {
          height: 80px;
          margin-bottom: 10px;
          background-image: url("../img/lightning.png");
          background-position: center 40px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .score {
          color: $text-grey;
          font-size: 14px;
        }
      }

      .player-card {
        margin: 0 20px;

        .player-avatar {
          height: 80px;
          box-sizing: border-box;
          width: 80px;
          background: #EEE;
          box-shadow: 0px 3px 5px rgba(0,0,0,.2);
          margin-bottom: 10px;
          border-radius: 2px;
          position: relative;
          background-size: cover;
          background-repeat: no-repeat;

          &.flukeout {
            background-image: url("../img/avatar-flukeout.png");
          }

          &.ignoble {
            background-image: url("../img/avatar-ignoble.png");
          }

        }
        
        &.winner .player-avatar {
          border: solid 4px $green;
          width: 88px;
          height: 88px;
          margin-bottom: 2px;
          border-radius: 6px;
          top: -4px;
        }

        .player-name {
          text-align: center;
          color: $text-grey;
          font-size: 14px;
        }
      }
    }

    .rating-bar {
      text-align: center;
      margin-top: 30px;

      .rating-title {
        color: $text-grey;
        margin-bottom: 5px;
        font-size: 12px;
      }

      .rating-value {
        font-size: 28px;
        color: #272421;
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
        position: relative;
        
        .rating-change {
          font-size: 16px;
          font-family: sans-serif;
          position: absolute;
          right: -45px;
          text-align: left;
          width: 40px;
          top: 8px;
          color: $green;
          font-size: 14px;
        }
      }
    }

}

