$duration: 0.2s;
$spritesheet-image: "../img/spritesheet@3x-min.png";

body {
  background: #2d2a27;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  flex-wrap: wrap;
}

.tile {
  background: #22201d;
  width: 168px;
  height: 168px;
  border-radius: 10px;
  margin: 20px;
  border-bottom: solid 4px #171513;
  transition: background 0.15s ease-out;
  position: relative;

  label {
    font-size: 15px;
    text-align: center;
    display: block;
    color: #c3c3c2;
    position: absolute;
    bottom: 10%;
    width: 100%;
  }

  .image-wrapper {
    margin: 30px auto 0 auto;
    position: relative;

    .sprite {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url($spritesheet-image);
      background-size: 323px;
      background-repeat: no-repeat;

      &.no-bg {
        background-image: none;
      }
    }
  }

  &:hover {
    background: #393633;
    border-bottom: solid 4px #22201d;
    cursor: pointer;
  }
}


.tile-puzzle-battle {
  .image-wrapper {
    width: 80px;
    height: 80px;
    margin-top: 25px;
  }

  .shield {
    background-position: 0 0px;
    transition: transform $duration ease-out;
  }

  &:hover .shield {
    transform: scale(1.1);
  }

  .shadow {
    background-position: -81px 0px;
    transition: opacity $duration;
  }

  &:hover .shadow {
    opacity: 0;
  }

  .sword-left {
    background-position: -162px 0px;
    transform-origin: bottom left;
    transition: transform $duration ease-out;
  }

  &:hover .sword-left {
    transition-timing-function: cubic-bezier(0.28, 1.65, 0.65, 1);
    transition-duration: 0.3s;
    transform: translateY(15px) translateX(10px) scale(0.9) rotate(-60deg);
  }

  .sword-right {
    background-position: -243px 0;
    transform-origin: bottom right;
    transition: transform $duration ease-out;
  }

  &:hover .sword-right {
    transition-timing-function: cubic-bezier(0.28, 1.65, 0.65, 1);
    transition-duration: 0.3s;
    transform: translateY(15px) translateX(-10px) scale(0.9) rotate(60deg);
  }
}


.tile-chess-tv {
  .image-wrapper {
    width: 80px;
    height: 80px;
    margin-top: 25px;
  }

  .pawn {
    background-position: 0 -81px;
    transition: transform $duration ease-out;
    transform-origin: bottom;
    
  }

  &:hover .pawn {
    transform: translateY(8px) scale(.95);
  }

  .tv {
    background-position: -81px -81px;
    transition: transform $duration ease-out;
  }

  &:hover .tv {
    transform: translateY(-8px);
  }

  .play-button {
    background-position: -162px -81px;
    opacity: 0;
    transition: transform $duration ease-out;
  }

  &:hover .play-button {
    transform: translateY(-8px);
    animation: playButtonAppear $duration ease-out;
    animation-delay: .1s;
    animation-fill-mode: forwards;

    @keyframes playButtonAppear {
      0% {
        transform: translateY(-8px) scale(.8) scaleY(.4);
        opacity: 0;
      }
      60% {
        transform: translateY(-8px) scale(1.1);
        opacity: 1;
      }
      100% {
        transform: translateY(-8px) scale(1);
        opacity: 1;
      }
    }
  }
}

.tile-four-player {
  .image-wrapper {
    width: 80px;
    height: 80px;
    margin-top: 25px;
  }

  .sprite {
    transition: transform $duration ease-out;
  }
  
  &:hover .sprite {
    transition: transform .1s ease-in;
  }

  &:hover .image-wrapper {
    animation: popLeft .2s linear, popTop .2s linear, popRight .2s linear, popBottom .2s linear;
    animation-delay: 0s, .2s, .4s, .6s;
    @keyframes popLeft {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(0);
      }
      75% {
        transform: translateX(2px);
      }
      100% {
        transform: translateX(0);
      }
    }
    @keyframes popTop {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(0);
      }
      75% {
        transform: translateY(2px);
      }
      100% {
        transform: translateY(0);
      }
    }
    @keyframes popRight {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(0);
      }
      75% {
        transform: translateX(-2px);
      }
      100% {
        transform: translateX(0);
      }
    }
    @keyframes popBottom {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(0);
      }
      75% {
        transform: translateY(-2px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }

  .arrow-left {
    background-position: -81px -162px;
  }

  &:hover .arrow-left {
    transform: translateX(8px);
  }

  .arrow-top {
    background-position: 0 -162px;
  }

  &:hover .arrow-top {
    transform: translateY(8px);
    transition-delay: .2s;
  }

  .arrow-right {
    background-position: -162px -162px;
  }
  
  &:hover .arrow-right {
    transform: translateX(-8px);
    transition-delay: .4s;
  }

  .arrow-bottom {
    background-position: -243px -162px;
  }

  &:hover .arrow-bottom {
    transform: translateY(-8px);
    transition-delay: .6s;
  }
}

.tile-stats {
  .image-wrapper {
    width: 80px;
    height: 80px;
    margin-top: 25px;
  }

  .bar {
    position: absolute;
    bottom: 4px;
    width: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    background-image: url($spritesheet-image);
    background-size: 323px;
    background-repeat: no-repeat;
    transition: height $duration ease-out;
  }

  &:hover .bar {
    transition-timing-function: cubic-bezier(.47,1.54,.66,1.01);
  }

  .bar-one {
    height: 39px;
    left: 4px;
    border: solid 2px #0097c7;
    background-color: #0097c7;
    background-position: bottom left -4px;
  }

  &:hover .bar-one {
    height: 64px;
  }

  .bar-two {
    height: 55px;
    left: 30px;
    border: solid 2px #6c9d41;
    background-color: #6c9d41;
    background-position: bottom left -30px;
  }

  &:hover .bar-two {
    height: 72px;
    transition-delay: .05s;
  }

  .bar-three {
    height: 71px;
    left: 56px;
    border: solid 2px #ca3431;
    background-color: #ca3431;
    background-position: bottom left -56px;
  }

  &:hover .bar-three {
    height: 80px;
    transition-delay: .1s;
  }
}
