$duration: 0.2s;
$spritesheet-image: "../img/spritesheet@3x.png";

body {
  background: #2d2a27;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  flex-wrap: wrap;
}

.tile {
  background: #22201d;
  width: 168px;
  height: 168px;
  border-radius: 10px;
  margin: 20px;
  border-bottom: solid 4px #171513;
  transition: background 0.15s ease-out;
  position: relative;

  label {
    font-size: 15px;
    text-align: center;
    display: block;
    color: #c3c3c2;
    position: absolute;
    bottom: 10%;
    width: 100%;
  }

  .image-wrapper {
    margin: 30px auto 0 auto;
    position: relative;

    .sprite {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url($spritesheet-image);
      background-size: 323px;
      background-repeat: no-repeat;

      &.no-bg {
        background-image: none;
      }
    }
  }

  &:hover {
    background: #393633;
    border-bottom: solid 4px #22201d;
    cursor: pointer;
  }
}

.tile-tournaments-two {
  .image-wrapper {
    width: 80px;
    height: 80px;
    margin-top: 25px;
    transition: transform .2s ease-in-out;
  }

  &:hover {
    .image-wrapper {
      transform: scale(1.05);
    }
  }

  .medal {
    background-position: 0 0px;
    transition: transform $duration ease-out;
    transform-origin: 50% 37.5%;
  }

  .medal-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 15px;
    top: 28px;
    overflow: hidden;
    border-radius: 50%;
    transform: rotate(30deg);
    box-sizing: border-box;
  }

  $gleamDuration : .5s;

  &:hover .medal-circle {
    animation: edgeGleam $gleamDuration linear;

    @keyframes edgeGleam {
      0% {
        border-left: solid 0px white;
        border-right: solid 0px white;
        animation-timing-function: ease-out;
      }
      40% {
        border-left: solid 6px white;
        border-right: solid 0px white;
      }
      41% {
        border-left: solid 0px white;
        border-right: solid 0px white;
      }

      60% {
        border-left: solid 0px white;
        border-right: solid 0px white;
      }
      61% {
        animation-timing-function: ease-out;
        border-left: solid 0px white;
        border-right: solid 6px white;

      }
      100% {
        border-left: solid 0px white;
        border-right: solid 0px white;
      }
    }

  }

  .inner-circle {
    background: white;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &:hover .inner-circle {
    animation: medalGleam $gleamDuration linear;
    animation-fill-mode: forwards;

    @keyframes medalGleam {
      30% {
        opacity: 0;
      }
      45% {
        opacity: 1;
      }
      55% {
        opacity: 1;
      }
      70% {
        opacity: 0;
      }
    }
  }

  .strap {
    background-position: -81px 0px;
    transform-origin: top;
    transition: transform $duration ease-out;
  }

  &:hover .strap {
    
  }
}

.tile-tournaments-three {
  .image-wrapper {
    width: 80px;
    height: 80px;
    margin-top: 25px;
    transition: transform .2s ease-in-out;
  }

  .medal-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all $duration ease-out;
  }
  
  .medal-shadow {
    position: absolute;
    height: 60px;
    width: 62px;
    left: 9px;
    top: 24px;
    border-radius: 50%;
    opacity: .15;
    background: black;
  }


  &:hover .medal-left {
    transition-delay: 0, .1s;
    transform: rotate(15deg) translateX(-20px) scale(.85) translateY(7px);
    opacity: 1;
  }

  &:hover .medal-right {
    transition-delay: 0, .1s;
    transform: rotate(-15deg) translateX(20px) scale(.85) translateY(7px);
    opacity: 1;
  }


  &:hover {
    .medal-main {
      transform: scale(1.05);
    }
  }

  .medal {
    background-position: 0 0;
    transition: transform $duration ease-out;
    transform-origin: 50% 37.5%;
  }

  .medal-left, .medal-right {
    transform: scale(.85) translateY(7px);
    transition: transform .4s cubic-bezier(.52,1.67,.72,.98), opacity .2s ease-out;
    opacity: 0;
  }

  .medal-left {
    background-position: -81px 0;
  }

  .medal-right {
    background-position: -162px 0;
  }
}

.tile-forums {
  .image-wrapper {
    width: 80px;
    height: 80px;
    margin-top: 25px;
    transition: transform .2s ease-in-out;
  }

  .bubble-one {
    background-position: 0px -81px;
    transition: transform $duration ease-out;
  }
  
  &:hover .bubble-one {
    animation: forumBubblePop .4s ease-in-out;
  }
  
  &:hover .bubble-two {
    animation: forumBubblePop .4s ease-in-out;
    animation-delay: .2s;
  }

  @keyframes forumBubblePop {
    0% {
      transform: scale(.9);
    }
    40% {
      transform: scale(1.08);
    }
    70% {
      transform: scale(.95);
    }
    100% {
      transform: scale(1);
    }
  }

  .bubble-two {
    background-position: -81px -81px;
    transition: transform $duration ease-out;
  }
}

.tile-vote-chess {

  .image-wrapper {
    width: 80px;
    height: 80px;
    margin-top: 25px;
    transition: transform .2s ease-in-out;
  }

  .clipboard {
    background-position: 0px -162px;
    transition: transform $duration ease-out;
  }
  
  &:hover .clipboard {
    animation-delay: .2s;
    transform: scale(1.12);
  }

  .checkmark {
    background-position: -81px -162px;
    transition: transform $duration ease-out, opacity $duration ease-out;
  }
  
  &:hover .checkmark {
    opacity: 0;
    transform: scale(1.12);
  }

  .board {
    background-position: -162px -162px;
    opacity: 0;
    transition: transform $duration ease-out, opacity $duration ease-out;
  }
  
  &:hover .board {
    opacity: 1;
    transform: scale(1.12);
    transition-delay: 0s, .1s;
  }

  .arrow {
    background-position: -243px -162px;
    opacity: 0;
    transition: transform $duration ease-out, opacity $duration ease-out;
  }

  &:hover .arrow {
    opacity: 1;
    transform: scale(1.12);
    transition-delay: 0s, .25s;
  }
}


.tile-events {

  .image-wrapper {
    width: 80px;
    height: 80px;
    margin-top: 25px;
    transition: transform .2s ease-in-out;
  }

  .board {
    background-position: 0px -324px;
    transition: transform $duration ease-out;
  }
  
  &:hover .board {
    transform: scale(1.05);
  }

  .cup {
    background-position: -81px -324px;
    transition: transform $duration ease-out;
    transform-origin: center;
  }

  &:hover .cup {
    transform: scale(1.2) rotate(5deg);
  }

  .cup-gleam {
    position: absolute;
    background: rgba(255,255,255, 0);
    width: 24px;
    height: 25px;
    left: 28px;
    top: 20.5px;
    border-radius: 0 0 12px 12px;
    opacity: 1;
    box-sizing: border-box;
  }

  &:hover .cup-gleam {
    animation: cupGleam .5s linear;

    @keyframes cupGleam {
      0% {
        border-left: solid 0px white;
        border-right: solid 0px white;
        animation-timing-function: ease-out;
      }
      30% {
        background: rgba(255,255,255, 0);
      }
      40% {
        border-left: solid 4px white;
        border-right: solid 0px white;
      }
      41% {
        border-left: solid 0px white;
        border-right: solid 0px white;
      }
      45% {
        background: rgba(255,255,255, .6);
      }
      60% {
        border-left: solid 0px white;
        border-right: solid 0px white;
      }
      61% {
        animation-timing-function: ease-out;
        border-left: solid 0px white;
        border-right: solid 4px white;
        
      }
      65% {
        background: rgba(255,255,255, .6);
      }
      70% {
        background: rgba(255,255,255, 0);
      }
      100% {
        border-left: solid 0px white;
        border-right: solid 0px white;
      }
    }
  }
}

.tile-archive {

  .image-wrapper {
    width: 80px;
    height: 80px;
    margin-top: 25px;
    transition: transform .2s ease-in-out;
  }

  .folder-front {
    background-position: 0px -243px;
    transition: transform $duration ease-out;
    transform-origin: bottom;
  }

  &:hover .folder-front {
    transform: skewX(5deg) scaleY(.95);
  }

  .board {
    background-position: -82px -243px;
    transition: transform $duration ease-out;
  }

  &:hover .board {
    transform: translateX(5%) translateY(-10%) rotate(5deg);
  }

  .folder-back {
    background-position: -162px -243px;
    transition: transform $duration ease-out;
  }
}
