body {
  background: #312e2b;
  display: flex;
  font-family: sans-serif;
}

$player-one: #1bada6;
$player-two: #f3c536;

.square.even {
  background-color: #eeeed2;
}

.square.odd {
  background-color: #769656;
}

.wrapper {
  margin: auto;
  display: flex;
}

.piece {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform .15s ease-out;

  &.highlight {
    transform: scale(1.12) rotate(-2deg);
  }

  .figure {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    transition: transform 0.15s ease-out;
  }

  .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-image: url(../img/pieces/shadow.png);
    transition: all 0.15s ease-out;
    opacity: 0;
    transform: scale(.9);
  }

  &.lift {
    .shadow {
      opacity: 0.2;
    }

    .figure {
      transform: translateY(-5px);
    }
  }
}

$pieceClasses: "wp" "bp" "wr" "br" "wn" "bn" "wq" "bq" "wb" "bb" "wk" "bk" ;

@each $currentClass in $pieceClasses {
  .piece.#{$currentClass} .figure {
    background-image: url(../img/pieces/#{$currentClass}.png);
  }
}

.piece {
  z-index: 999;
}

.arrow {
  z-index: 997;
}

.square {
  z-index: 1;
}

.column {
  padding: 0 20px;

  button {
    display: block;
    margin-bottom: 12px;
  }
}

.board {
  width: 80vh;
  z-index: 2;
  height: 80vh;
  position: relative;

  .coordinate {
    position: absolute;
    color: white;
    opacity: 0.5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &.file {
      bottom: -20px;
    }

    &.rank {
      left: -20px;
    }
  }

  .square {
    float: left;
    box-sizing: border-box;
    z-index: 1;
    transition: transform 0.15s ease-out;
    position: relative;

    .square-name {
      position: absolute;
      top: 5px;
      right: 5px;
      color: rgba(0, 0, 0, 0.4);
      font-weight: bold;
      font-size: 14px;
      opacity: 0;
      display: block;
    }

    &.highlight {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
      transform: scale(1.12) rotate(-2deg);
      border-radius: 4px;

      .square-name {
        transition: all 0.2s ease-out;
        opacity: 1;
        transform: scale(1);
      }
    }

    &.highlight {
      background: #2da0e0;
      background: #f7a539;
      background: #f6f68a;
    }

    &::after {
      display: none;
    }
  }
}

.arrow {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;

  &.up {
    bottom: 0;
    animation: arrowUp 0.15s ease-out forwards;
    transform-origin: 50% 80%;
    animation-delay: 0.1s;
    opacity: 0;

    @keyframes arrowUp {
      0% {
        opacity: 0.4;
        transform: scaleY(0.8);
      }

      80% {
        transform: scaleY(1.02);
      }

      100% {
        transform: scaleY(1);
        opacity: 1;
      }
    }
  }

  &.down {
    top: 0;
    transform: rotate(180deg);
    animation: arrowDown 0.15s ease-out forwards;
    transform-origin: center;

    @keyframes arrowDown {
      0% {
        opacity: 0.4;
        transform: scaleY(0.8) rotate(180deg);
      }

      80% {
        transform: scaleY(1.02) rotate(180deg);
      }

      100% {
        transform: scaleY(1) rotate(180deg);
        opacity: 1;
      }
    }
  }

  &.length-1 {
    height: 200%;
    background-image: url("../img/arrow1.svg?1");
  }

  &.length-2 {
    height: 300%;
    background-image: url("../img/arrow2.svg?1");
  }
}

.status-bubble {
  height: 60%;
  width: 60%;
  position: absolute;
  top: -30%;
  right: -30%;
  animation: statusAppear .4s ease-out;
  transform-origin: bottom;
  transform: scale(1);
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: .2s;

  @keyframes statusAppear {
    0% {
      opacity: 1;
      transform: scale(.6);
      animation-timing-mode: ease-out;
    }
    40% {
      transform: scale(1.1);
      animation-timing-mode: ease-in;
    }
    80% {
      transform: scale(.95);
      animation-timing-mode: ease-out;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(1);
  }

  &.winner .icon {
    background-image: url(../img/crown.png);
    animation-delay: .25s;
    

    &:after {
      position: absolute;
      content: "";
      width: calc(100% - 3px);
      height: calc(100% - 3px);
      left: 1px;
      background: rgba(255,255,255,0);
      animation: edgeGleam .5s linear, medalGleam .5s linear;
      animation-delay: 2.2s, 2.2s;
      opacity: .5;
      border-radius: 50%;
      box-sizing: border-box;
    }

    @keyframes medalGleam {
      30% {
        background: rgba(255,255,255,0);
      }
      45% {
        background: rgba(255,255,255,1);
      }
      55% {
        background: rgba(255,255,255,1);
      }
      70% {
        background: rgba(255,255,255,0);
      }
    }
    

    @keyframes edgeGleam {
      0% {
        border-left: solid 0px white;
        border-right: solid 0px white;
        animation-timing-function: ease-out;
      }
      40% {
        border-left: solid 6px white;
        border-right: solid 0px white;
      }
      41% {
        border-left: solid 0px white;
        border-right: solid 0px white;
      }

      60% {
        border-left: solid 0px white;
        border-right: solid 0px white;
      }
      61% {
        animation-timing-function: ease-out;
        border-left: solid 0px white;
        border-right: solid 6px white;

      }
      100% {
        border-left: solid 0px white;
        border-right: solid 0px white;
      }
    }
  }

  &.checkmate .icon {
    background-image: url(../img/checkmate-white.png);
    width: 100%;
    height: 100%;
  }

  &.surrender .icon {
    animation: flagWave .4s linear;
    animation-iteration-count: 2;
    animation-delay: .4s;
    transform-origin: center;

    @keyframes flagWave {
      0% {
        transform: rotate(0);
        animation-timing-function: ease-out;
      }
      25% {
        transform: rotate(8deg);
        animation-timing-function: ease-in;
      }
      50% {
        transform: rotate(0);
        animation-timing-function: ease-out;
      }
      75% {
        transform: rotate(-8deg);
        animation-timing-function: ease-in;
      }
      100% {
        transform: rotate(0);
      }
    }
  }
}

.piece.surrender {
  &.bk .icon {
    background-image: url(../img/resign-black.png);
  }
  &.wk .icon {
    background-image: url(../img/resign-black.png);
  }
}


.surrender .figure {
  animation: surrenderShake .1s linear, surrenderFinish .2s ease-out;
  animation-delay: 0s, 1.2s;
  animation-iteration-count: 12, 1;
  transform-origin: bottom;

  @keyframes surrenderShake {
    0% {
      transform: skew(0,0) scaleY(.95) scaleX(1.05);
    }
    25% {
      transform: skew(-1deg,0) translateX(1px) scaleY(.95) scaleX(1.05);
    }
    50% {
      transform: skew(0,0) scaleY(.95) scaleX(1.05);
    }
    75% {
      transform: skew(1deg,0)  translateX(-1px) scaleY(.95) scaleX(1.05);
    }
    100% {
      transform: skew(0,0) scaleY(.95) scaleX(1.05);
    }
  }
  
  @keyframes surrenderFinish {
    from {
      transform: skew(0,0) scaleY(.95);
    }

    to {
      transform: none;
    }

  }

}


.winner .figure {
  animation: winnerStart .2s ease-out, winnerJump 1s ease-in-out, winnerEnd .25s ease-out;
  animation-iteration-count: 1, 2, 1;
  animation-delay: 0s, .2s, 2.2s;
  transform-origin: bottom;


  @keyframes winnerStart {
    from {
      transform: none;
    }
    to {
      transform: scaleY(.92);
    }
  }
  

  @keyframes winnerEnd {
    from {
      transform: scaleY(.92);
    }
    to {
      transform: none;
    }
  }

  @keyframes winnerJump {
    0% {
      transform: scaleY(.92);
      animation-timing-function: ease-out;
    }
    25% {
      transform: scaleY(1.05) skew(-4deg,0);
      animation-timing-function: ease-in;
    }
    50% {
      transform: scaleY(.92);
      animation-timing-function: ease-out;
    }
    75% {
      transform: scaleY(1.05) skew(4deg,0);
      animation-timing-function: ease-in;
    }
    100% {
      transform: scaleY(.92);
      animation-timing-function: ease-out;
    }
  }
}




.checkmate .figure {
  animation: loserFall .75s ease-in-out;
  animation-iteration-count: 1;
  transform-origin: center;
  animation-fill-mode: forwards;

  @keyframes loserFall {
    0% {
      transform: rotate(0) translateY(0);
      animation-timing-function: ease-in;
    }

    20% {
      transform: scaleY(.9) scaleX(1.05) translateY(4px) skew(3deg,0);
    }

    30% {
      transform: scaleY(1) translateY(0);
      animation-timing-function: ease-out;
    }

    50% {
      transform: scale(1) translateY(-12px) rotate(75deg);
      animation-timing-function: ease-in;
    }

    70% {
      transform: scaleY(1) translateY(0) rotate(75deg);
      animation-timing-function: ease-in;
    }

    80% {
      transform: scaleY(.95) scaleX(1.05) translateY(2px) rotate(75deg);
      animation-timing-function: ease-out;
    }

    100% {
      transform: rotate(0) translateY(0) rotate(75deg);
    }
  }
}

// Draw

 .piece.draw {
    &.wk .icon {
      background-image: url(../img/draw-white.png);
    }
    &.bk .icon {
      background-image: url(../img/draw-black.png);
    }
  }

.piece.draw .figure {
  animation: draw 1.75s ease-in-out;
  animation-iteration-count: 1;
  transform-origin: 50% 94%;
  animation-fill-mode: forwards;

  @keyframes draw {
    0% {
      transform: none;
      animation-timing-function: ease-out;
    }

    20% {
      transform: scaleY(1.05) scaleX(.95);
    }

    40% {
      transform: scaleY(1.05) scaleX(.95);
      animation-timing-function: ease-in-out;
      
    }

    80% {
      transform: scaleY(.98) scaleX(1.02);
      animation-timing-function: ease-out;
    }

    100% {
      transform: none;
    }


  }



}



